@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --ColorPrimario: #1874ec;
  --ColorPrimarioFuerte: #001a33;
  --ColorSecundario: #85d6de;
  --ColorTercero: #96d7fa;
  --ColorCuarto: #85deb4;
  --ColorQuinto: #96faaf;
  --ColorDesctacar: #8f0788;
  --ColorButton: #b903b0;
  --ColorFondo: #14141d;
  --ColorContenedores: #1f1f36;

  --color-red: #1874ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: var(--ColorFondo);
  /* background-image: url("./assets/4356068.webp"); */
}

.form-central-todo {
  height: 100vh;
  width: 100%;
  background-color: var(--ColorFondo);
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image {
  background-image: url("./assets/HD-wallpaper-neon-leon.jpg");
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 20px 20px 0;
}
.form-color-todo {
  height: 80%;
  width: 80%;
  background-color: var(--ColorContenedores);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px;
}
.form-contenedor-input {
  width: 50%;
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-container {
  height: 13%;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 1vh;
  align-content: center;
}
ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
ul li {
  list-style: none;
}
ul li button {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 5vh;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
  background: none;
  border: none;
  color: white;
  align-items: center;
}
ul li button span {
  position: absolute;
  transition: transform 0.5s;
}
ul li button svg {
  width: 100%;
  height: 60%;
}
ul li button span:nth-child(1),
ul li button span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: white;
}
ul li button span:nth-child(1) {
  background: white;
  top: 0;
  left: 0;
  transform-origin: right;
}
ul li button:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

ul li button span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
ul li button:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

ul li button span:nth-child(2),
ul li button span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
}
ul li button span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
ul li button:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}
ul li button span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
ul li button:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.facebook:hover {
  color: var(--ColorPrimario);
}
.facebook:hover span {
  background: var(--ColorPrimario);
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span {
  background: #c32aa3;
}
.google:hover {
  color: rgb(0, 168, 168);
}
.google:hover span {
  background: rgb(0, 168, 168);
}

ul li button:hover:nth-child(3) {
  color: #c32aa3;
}
ul li button:hover:nth-child(4) {
  color: rgb(0, 168, 168);
}
.form-take-input {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-take-input input {
  width: 100%;
  height: 40px;
  margin-bottom: 2vh;
  font-family: FontAwesome;
}

.form-take-input button {
  background: none;
  position: relative;
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
}
.form-take-input button:hover {
  border: 1px solid transparent;
  cursor: pointer;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate var(--speed-fast) steps(8) forwards;
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
.form-contenedor-input h1 {
  color: var(--color-white);
}
.navigation {
  position: relative;
  height: 70px;
  background-color: var(--ColorPrimarioFuerte);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:0 0 10px 10px;
  width: 100%;
  position: fixed;
  z-index: 99;
}
.navigation ul {
  display: flex;
  width: 500px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon-navigation {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: rgb(146, 146, 146);
}
.navigation ul li.active a .icon-navigation {
  transform: translateY(37px);
  color: white;
}
.navigation ul li a .text-navigation {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text-navigation {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 70px;
  height: 70px;
  background-color: var(--ColorPrimario);
  border-radius: 50%;
  border: 6px solid var(--ColorFondo);
  transition: 0.5s;
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(95px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(95px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(95px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(95px * 4));
}

.iluminador {
  position: fixed;
  z-index: -1;
  left: -100px;
  opacity: 0.3;
  background-image: url("./assets/lauty1.png");
  height: 500px;
  width: 500px;
}
.iluminador2 {
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  top: 70%;
  right: 150px;
  background-image: url("./assets/lauty2.png");
  height: 500px;
  width: 500px;
}
.iluminador3 {
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  top: -80px;
  right: -150px;
  background-image: url("./assets/lauty3.png");
  height: 400px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-iluminacion {
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-home {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.contenedor-text-home {
  height: 50%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text-home-numberone {
  width: 100%;
  height: 10%;
  font-weight: 700;
  align-items: center;
  display: flex;
  font-size: 0.9em;
  letter-spacing: 1px;
}
.contenedor-text-home h1 {
  font-weight: 900;
  font-size: 2.5em;
}
.text-home-collect {
  font-weight: 200;
  font-size: 1.1em;
}
.contenedor-text-home div {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.contenedor-text-home div button {
  height: 95%;
  width: 30%;
  border-radius: 1px;
  border: none;
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  background: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.contenedor-text-home div button:nth-child(1) {
  background-color: var(--ColorButton);
  margin-right: 30px;
}
.contenedor-text-home div button:nth-child(1):hover {
  background-color: var(--ColorDesctacar);
}
.contenedor-text-home div button:nth-child(2):hover {
  border: 3px solid var(--color-white);
}
.contenedor-nft {
  width: 45%;
  height: 75%;
  display: flex;

  position: relative;
}
.contenedor-nft .img:nth-child(1) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  z-index: 1;
  background-image: url("./assets/RoundCube-Iridescent.png");
}
.contenedor-nft .img:nth-child(2) {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 60%;
  left: 4%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  z-index: 1;
  background-image: url("./assets/RoundCube-Iridescent.png");
}
.contenedor-nft-real {
  width: 100%;
  display: flex;
  justify-content: end;
}
.contenedor-nft-real .contenedor-nft-total {
  width: 94%;
  height: 90%;
  border: 3px solid var(--ColorButton);
  border-radius: 40px 0 40px 0;
  background-color: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.contenedor-nft-real .contenedor-nft-total .image {
  /* background-image: url("./assets/9778e9361fabdb7fd6eded5ec35102f5.gif"); */
  height: 75%;
  width: 90%;
  border-radius: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto-nft-home {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 15%;
}
.texto-nft-home h2 {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}
.texto-nft-home div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 60%;
}
.contenedor-about{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-ocho-about{
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
.contenedor-ocho-about p{
  font-weight: 800;
  font-size: 0.8em;
}
.contenedor-ocho-about h2{
  font-weight: 900;
  font-size: 2.7em;
}
.total-about{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-about div{
  width: 47%;
  height: 95%;
  position: relative;
}
.total-about div:nth-child(2){
  width: 47%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.total-about div div:nth-child(1){
  position:absolute;
  width: 80%;
  height: 100%;
  background-image: url("./assets/about.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow:  8px 5px 30px #96faaf4b
}
.total-about div div:nth-child(2){
  position: absolute;
  height: 250px;
  width: 250px;
  background-image: url("./assets/aboutraro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  right: 0;
  top: 30%;
}
.total-about div:nth-child(2) h3{
  font-size: 2.5em;
  width: 80%;
  font-weight: 700;
}
.total-about div:nth-child(2) p{
  font-size: 1.3em;
  font-weight: 400;
  color: rgb(204, 204, 204);
  line-height: 30px;
}
.contenedor-store-public{
  width: 100%;
  height:40vh;
  position: relative;
}
.contenedor-store-public div:nth-child(1){
  position: absolute;
  height: 100%;
  width: 48.8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  transform: perspective( 700px ) rotateY( -10deg);
  background: linear-gradient(86.06deg, #355783 -42.21%, #1B2845 57.79%);
}
.contenedor-store-public div:nth-child(1) h1{
  font-size: 3em;
  font-weight: 600;
  width: 80%;
  color: white;
}
.contenedor-store-public div:nth-child(1) p{
  font-size: 1.5em;
  font-weight: 300;
  width: 80%;
  color: white;
}
.contenedor-store-public div:nth-child(2){
  position: absolute;
  right: 0;
  height: 100%;
  width: 48.8%;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: perspective( 700px ) rotateY( 10deg );
  background: linear-gradient(-153.06deg, #274060 -42.21%, #1B2845 57.79%);
}
.contenedor-store-public div:nth-child(2) div{
  background-image: url("./assets/mineria.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 96%;
  width: 100%;
}
.contenedor-top-sellers-store{
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-top-sellers-store .sellers{
  width: 95%;
  height: 90%;
}
.title-top-sellers{
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  letter-spacing: 3px;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  
}
.contenedor-top-sellers-cards{
  width: auto;
  height: 85%;
  overflow-y: hidden; 
  overflow-x: auto;
  white-space: nowrap;
}
.contenedor-top-sellers-cards::-webkit-scrollbar {
  display: none;
}
.contenedor-card-nft{
  height: 100%;
  width:  400px;
  margin-right: 15px;
  display: inline-block;
  position: relative;
}
.img-nft-total{
  height: 95%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.text-nft-total{
  width: 100%;
  height: 30%;
}