:root{
    --ColorPrimario : #0054a3;
    --ColorSecundario : #85D6DE;
    --ColorTercero : #96D7FA;
    --ColorCuarto : #85DEB4;
    --ColorQuinto : #96FAAF;
    --ColorDesctacar : #8f0788;
    --ColorFondo : #1D2226;
}